*
{
    margin: 0
        padding: 0    
}
header
{
    /* The image used */
    background-image: url(img/logboekbdg.jpg);
    
    /* Full height  */
    
    height: 100%;
    
    /* Center and scale the image nicely */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   }